# .gitignore for C# TP's
# Author: fanfan54
# Ver. 1.5

# Visual Studio and JetBrains Rider configs
**/.idea/
**/.vs/
**/*.DotSettings
**/*.csproj.user

# Compiled files
workdir/**/**/bin
workdir/**/**/obj

# macOS Finder temp files
**/*.DS_Store
**/__MACOSX/

# Windows Explorer temp files
**/Thumbs.db
