# .gitignore for C# TP's
# Author: fanfan54
# Ver. 1.7

# IDE's configs
**/.idea/
**/.vs/
**/*.DotSettings
**/*.csproj.user
**/*.userprefs

# Compiled files
workdir/**/bin/
workdir/**/obj/

# Auto-regenerated libraries and packages
**/packages/
**/packages.config

# Tests for the program
workdir/**/tests/

# macOS Finder temp files
**/*.DS_Store
**/__MACOSX/

# Windows Explorer temp files
**/Thumbs.db
